/* Import config, mixins, font */
/* Kleuren */
/* Fonts */
/* tables */
/* Achtergrond */
@import url("https://fonts.googleapis.com/css?family=Exo+2");
/* CSS Reset */
/* line 7, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
html, body, div, span, applet, object, iframe,
h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Einde CSS Reset */
/* line 28, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
body, main {
  width: 100%;
  height: 100%;
  font-family: 'Exo 2', sans-serif;
}

/* line 34, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#logo {
  height: 10%;
  width: 10%;
  display: block;
  margin: 0 auto;
}

/* line 42, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.tagline {
  text-align: center;
  margin-bottom: 10px;
}

/* line 47, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_generator {
  width: 100%;
  height: 65vh;
  background-color: #54B364;
  position: relative;
}

/* Generator */
/* line 56, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#generator {
  display: block;
  margin: 0 0 0 -110px;
  width: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
}

/* line 65, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#generator input[type="submit"] {
  height: 100px;
  width: 200px;
  font-size: 30px;
  background-color: #F1C410;
  color: #fff;
  border: none;
  margin: 0 auto;
}

/* line 75, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#generator input[type="submit"]:hover {
  color: #F1C410;
  background-color: #fff;
}

/* line 82, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Recept */
/* line 90, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#recept {
  width: 50%;
  overflow: hidden;
  top: 20%;
  left: 25%;
  position: absolute;
  background-color: #3B97D3;
}

/* line 99, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#recept h1 {
  margin-left: 10px;
  color: #fff;
}

/* line 104, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#recept #image_recipe {
  display: block;
}

/* line 108, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#recept #ingredients {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  list-style: none;
  height: 100%;
  background-color: #fff;
}

/* line 119, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#recept #steps {
  float: left;
  width: 70%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
}

/* line 128, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#recept #nutritional_values {
  float: right;
  width: 70%;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

/* Footer */
/* line 139, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
footer {
  width: 100%;
}

/* line 143, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* Formulier recepten */
/* line 155, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container #form_new_recipe {
  margin: 0 auto;
  max-width: min-content;
}

/* line 160, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container #form_new_recipe label {
  display: block;
}

/* line 164, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container #form_new_recipe input, #container #form_new_recipe textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

/* line 170, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container #form_new_recipe input[type="text"], #container #form_new_recipe textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 300px;
}

/*# sourceMappingURL=../../../public/css/style.map */