@charset "UTF-8";
/* Import config, mixins, font */
/* Kleuren */
/* Achtergrond */
/* Mixins */
/* Import config, mixins, font */
/* Kleuren */
/* Achtergrond */
/* Mixins */
/*Standaard teksten*/
@import url("https://fonts.googleapis.com/css?family=Exo+2");
/* line 7, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
label:first-letter, p:first-letter {
  text-transform: capitalize;
}

/* line 11, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
ul {
  list-style-type: none;
}

/* line 15, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.panel-heading {
  text-align: center;
}

/* line 19, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#head {
  margin-top: 50px;
}

/*Login scherm opmaak*/
/* line 26, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#login-screen, #register-screen, #password-screen, #diet-screen {
  width: 300px;
  margin: 0 auto;
}

/* line 31, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#email, #password, #name, #password-confirm, #diet {
  margin: 20px auto;
  width: 300px;
  resize: none;
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  outline: none;
}

/* line 40, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.btn.btn-link, .checkbox {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
}

/* line 48, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.button, #login-button, #register-button, #password-button, #add-diet-button {
  background-color: #F1C410;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
}

/* line 61, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#forgot-password {
  margin-top: 20px;
}

/* Tabels */
/* line 67, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table {
  width: fit-content;
  margin: 0 auto;
}

/* line 72, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table .button {
  background-color: #F1C410;
  color: #fff;
  border: none;
  width: 130px;
  padding: 1%;
}

/* line 81, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table .button:hover {
  background-color: #fff;
  color: #F1C410;
}

/* line 87, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table table, #diet-table table a {
  color: #313332;
}

/* line 92, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table table {
  border-collapse: collapse;
  margin-top: 1.2%;
  margin-bottom: 1.2%;
}

/* line 99, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table th {
  background-color: #009245;
  color: #fff;
}

/* line 105, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table td, #diet-table th {
  padding: 10px;
  border: 1px solid #828383;
}

/* line 111, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table tr:nth-child(even) {
  background-color: #fff;
}

/* line 115, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#diet-table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Formulieren stijl */
/* line 127, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#container #forms, #container .forms {
  margin: 0 auto;
  color: white;
  width: 60%;
}

/* line 134, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#container #forms label, #container .forms label {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 140, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#container #forms input, #container #forms textarea, #container .forms input, #container .forms textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

/* line 146, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#container #forms input[type=text], #container #forms textarea, #container .forms input[type=text], #container .forms textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  resize: none;
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  outline: none;
}

/* line 159, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#container #forms #afbeeldingknop [type=file], #container .forms #afbeeldingknop [type=file] {
  cursor: inherit;
  display: inline-block;
  filter: alpha(opacity=0);
  opacity: 0;
  left: -99999px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 170, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
#container #forms #toevoegknop, #container #forms #save-button, #container #forms #afbeeldingknop, #container .forms #toevoegknop, #container .forms #save-button, #container .forms #afbeeldingknop {
  background-color: #F1C410;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  outline: inherit;
}

/* line 190, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy {
  margin: 0 auto;
  width: 60%;
}

/* line 195, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy table, .container_index_diet_or_allergy table a {
  color: #313332;
}

/* line 200, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy table {
  border-collapse: collapse;
  margin-top: 1.2%;
  margin-bottom: 1.2%;
  width: 100%;
}

/* line 208, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy .number_table {
  width: 25px;
}

/* line 217, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy .edit_table {
  width: 60px;
}

/* line 221, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy th {
  background-color: #009245;
  color: #fff;
}

/* line 227, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy td, .container_index_diet_or_allergy th {
  padding: 10px;
  border: 1px solid #828383;
}

/* line 233, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy tr:nth-child(even) {
  background-color: #fff;
}

/* line 237, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.container_index_diet_or_allergy tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Dropdown Menu*/
/* line 244, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropdown {
  display: inline-block;
  position: fixed;
  right: 20px;
  z-index: 1;
}

/* line 251, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* line 262, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: -19px;
  margin-left: -104px;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* line 272, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* line 279, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* line 281, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 285, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
.dropdown:hover .dropbtn {
  background-color: #transparent;
}

/* line 292, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -99999px;
}

/* line 297, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
/* line 305, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
/* line 318, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #54B364;
  transition: all 0.35s;
}

/* checked mark aspect changes */
/* line 330, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* line 334, C:/laragon/www/recipegenerator/resources/assets/sass/_style2.scss */
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* CSS Reset */
/* line 8, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
html, body, div, span, applet, object, iframe,
h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Einde CSS Reset */
/* line 32, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
body, main {
  width: 100%;
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  background-color: #54B364;
}

/* line 38, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
main {
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* line 45, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#logo {
  width: 10%;
  margin-left: 3%;
  margin-top: 1%;
}

/* line 52, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#profile {
  float: right;
  margin-right: 3%;
  margin-top: 3%;
  height: 100px;
  width: 80px;
}

/* line 60, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 65, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
a:hover {
  color: #F1C410;
}

/* line 69, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.home {
  right: 3.3%;
  top: 20%;
  position: absolute;
}

/* line 76, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_generator {
  width: 100%;
  height: 100vh;
  background: #54B364 url("/img/achtergrond-home.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}

/* Generator */
/* line 86, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#generator {
  width: 100%;
}

/* line 93, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#generator #generateButton {
  display: block;
  top: 40%;
  left: 50%;
  width: 31%;
  margin-top: -15%;
  margin-left: -15%;
  position: absolute;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(1080deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(1080deg);
  }
}

/* line 113, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  /* Recept */
}

/* line 123, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept {
  width: 55%;
  overflow: hidden;
  background-color: #3B97D3;
  height: auto;
  color: #313332;
}

/* line 131, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept .icon-favorite {
  background-image: url(/img/icons/Favoriet.png);
  background-color: inherit;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 0;
  float: right;
  margin: 1.2%;
  margin-right: 2.7%;
}

/* line 145, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept h1 {
  margin-left: 10px;
  color: #fff;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: left;
}

/* line 153, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #image_recipe {
  display: block;
}

/* line 158, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #ingredients {
  float: left;
  width: 25%;
  padding: 1.2%;
  margin-left: 1.2%;
  list-style: none;
  background-color: #fff;
}

/* line 168, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #steps {
  float: left;
  width: 65%;
  padding: 1.2%;
  margin-left: 1.2%;
  margin-right: 1.2%;
  background-color: #fff;
}

/* line 177, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #nutritional_values {
  float: right;
  width: 65%;
  padding: 1.2%;
  margin: 1.2% 2.7% 1.2% 0;
  background-color: #fff;
}

/* line 185, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept h3 {
  margin-top: 0;
}

/* line 190, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #social_media {
  margin: 1.2%;
  float: right;
}

/* line 196, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #social_media .icon {
  height: 4%;
  width: 4%;
  margin-right: 1%;
}

/* line 203, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept #recept #social_media #facebook {
  height: 25px;
  width: 2%;
}

/* line 212, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#comments {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #F1C410;
}

/* line 220, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#comments #form_new_recipe {
  margin: 0 auto;
}

/* line 224, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#comments #form_new_recipe textarea {
  border: none;
  background-color: #f0f0f0;
  width: 580px;
  height: 140px;
  font-size: 150%;
}

/* line 235, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.comments {
  background-color: #F1C410;
}

/* line 239, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.comments .wrapper {
  width: 580px;
  margin: 0 auto;
}

/* line 245, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.comments h1 {
  width: fit-content;
  width: -webkit-fit-content;
}

/* line 251, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.comments li {
  margin-bottom: 1.2%;
}

/* line 256, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.comments .name {
  font-size: 120%;
  text-transform: capitalize;
  color: #3B97D3;
}

/* line 263, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.comments hr {
  border-style: solid;
  margin-top: 2.2%;
}

/* line 270, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.user {
  background-color: #fff;
  color: #313332;
}

/* profile page */
/* line 277, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header {
  padding: 1.2%;
}

/* line 280, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header #logo {
  margin: 0 auto;
  display: block;
}

/* line 285, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header .wrapper {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 0 auto;
}

/* line 292, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header .wrapper h1 {
  margin-bottom: 0.5%;
}

/* line 297, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header .wrapper input[type="submit"] {
  background-color: #F1C410;
  color: #fff;
  border: none;
  padding: 5px;
  margin-left: 10px;
}

/* line 305, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header .wrapper input[type="submit"]:hover {
  background-color: #fff;
  color: #F1C410;
}

/* line 310, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
header .wrapper input[type="option"] {
  padding: 5px;
}

/* line 317, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#favorieten {
  background-color: #fff;
  color: #313332;
  text-align: center;
  width: 100%;
}

/* line 325, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#geschiedenis {
  background-color: #F1C410;
  text-align: center;
}

/* line 331, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.slide-favorieten {
  margin: 60px auto;
  width: 50%;
}

/* line 336, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.slick-slide {
  margin: 0 27px;
  width: 900px !important;
}

/* line 342, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.slick-prev:before, .slick-next:before {
  color: #313332 !important;
}

/* Recept fav/geschiedenis */
/* line 348, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav {
  width: 900px;
  margin: 0 auto;
  background-color: #3B97D3;
  margin-bottom: 125px;
  margin-top: 125px;
}

/* line 357, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav h1 {
  margin-left: 1.2%;
}

/* line 362, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav #ingredients {
  margin-left: 1.2%;
}

/* line 367, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav #steps {
  margin-left: 1.2%;
  margin-right: 1.2%;
}

/* line 373, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav #nutritional_values {
  margin-left: 1.2%;
  margin-right: 1.2%;
  margin-bottom: 1.2%;
}

/* line 380, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav input[type="submit"] {
  padding: 5px;
  background-color: red;
  border: none;
  color: #fff;
  margin-left: 1.2%;
}

/* line 388, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav input[type="submit"]:hover {
  background-color: #fff;
  color: red;
}

/* line 393, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav a {
  color: #fff;
  margin-bottom: 10px;
  clear: both;
  margin-left: 1.2%;
  margin-bottom: 1.2%;
}

/* line 400, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
#container_recept_fav a:hover {
  color: #F1C410;
}

/* line 406, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index {
  width: fit-content;
  width: -webkit-fit-content;
  margin: 0 auto;
}

/* line 412, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index table, .container_index table a {
  color: #313332;
}

/* line 417, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index table {
  border-collapse: collapse;
  margin-top: 1.2%;
  margin-bottom: 1.2%;
}

/* line 424, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index th {
  background-color: #009245;
  color: #fff;
}

/* line 430, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index td, .container_index th {
  padding: 10px;
  border: 1px solid #828383;
}

/* line 436, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index tr:nth-child(even) {
  background-color: #fff;
}

/* line 440, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.container_index tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Footer */
/* line 446, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
footer {
  width: 100%;
  background-color: #F1C410;
  color: #fff;
}

/* line 452, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* line 459, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
footer a {
  color: #fff;
}

/* line 462, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
footer a:hover {
  color: #3B97D3;
}

@media (max-width: 415px) {
  /* line 470, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #profile {
    right: 1.2%;
    height: 75px;
    width: 60px;
  }
  /* line 477, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  .home {
    right: 1%;
  }
  /* line 482, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #logo {
    width: 30%;
  }
  /* line 489, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #generator #generateButton {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  /* line 498, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept {
    padding: 0;
  }
  /* line 502, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept #recept {
    width: 100%;
  }
  /* line 506, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept #recept #image_recipe {
    height: 150px;
  }
  /* line 511, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept #recept #ingredients {
    float: none;
    margin: 0;
    width: 100%;
    margin-top: 8.2%;
  }
  /* line 519, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept #recept #steps {
    margin: 0;
  }
  /* line 524, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept #recept #nutritional_values {
    float: none;
    margin: 0;
    width: 100%;
  }
  /* line 533, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #container_recept #recept #social_media .icon {
    width: 9%;
  }
  /* line 543, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #comments #form_new_recipe {
    margin: 0%;
  }
  /* line 547, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #comments #form_new_recipe textarea {
    width: 100%;
  }
  /* line 551, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  #comments #form_new_recipe h1 {
    margin-left: 1.2%;
  }
  /* line 558, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  .comments {
    width: 100%;
  }
  /* line 562, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  .comments .wrapper {
    width: 100%;
    padding: 1.2%;
    overflow: hidden;
  }
  /* line 569, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  ul {
    width: 100%;
  }
  /* line 574, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  hr {
    width: 100%;
  }
  /* line 579, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
  .slide-favorieten {
    width: 80%;
  }
}

/* line 585, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.button {
  background-color: #F1C410;
  color: #fff;
  border: none;
  width: 160px;
  padding: 1%;
  font-size: 16px;
}

/* line 595, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.button:hover {
  background-color: #fff;
  color: #F1C410;
}

/* line 601, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.back {
  width: 40px;
}

/* line 606, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.back:hover {
  background-color: #F1C410;
}

/* line 611, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.blue {
  background-color: #3B97D3;
  color: #fff;
  border: none;
  float: right;
  width: 100px;
  height: 35px;
  margin-bottom: 1.2%;
}

/* line 621, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.blue:hover {
  background-color: #fff;
  color: #3B97D3;
}

/* line 627, C:/laragon/www/recipegenerator/resources/assets/sass/style.scss */
.left {
  float: none;
}

/*# sourceMappingURL=../../../public/css/style.map */