/* Kleuren */
$background_color_green: #54B364;
$lightblue: #3B97D3;
$yellow: #F1C410;
$white: #fff;
$black: #313332;
$lightgrey: #f0f0f0;
$darkgrey:#828383;
$darkgrey_secondary:#cdcccc;

/* Achtergrond */
$background_home: url('/img/achtergrond-home.png');
$rad: url('/img/rad.svg');
