/* Kleuren */
$background_color_green: #5db353;
$dark_green: #009245;
$lightblue: #3B97D3;
$yellow: #faad25;
$white: #fff;
$black: #313332;
$lightgrey: #f0f0f0;
$darkgrey:#828383;
$darkgrey_secondary:#cdcccc;


/* Achtergrond */
$background_home: url('/img/achtergrond-home.png');
$rad: url('/img/rad.svg');
