/* Import config, mixins, font */
@import "config.scss";
@import "mixins.scss";
@import "style2.scss";
@import url('https://fonts.googleapis.com/css?family=Exo+2');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Einde CSS Reset */



body, main{
	width: 100%;
	height: 100%;
	font-family: 'Exo 2', sans-serif;
	background-color: $background_color_green;
}
main
{
	display: flex;
	flex-direction: column;
	color: $white;
}

#logo
{
	width: 10%;
	margin-left: 3%;
	margin-top: 1%;
}

#profile{
	float:right;
	margin-right: 3%;
	margin-top: 3%;
	height: 100px;
	width: 80px;
}

a
{
	color: $white;
	text-decoration: none;
}
a:hover{
	color: $yellow;
}

.home
{
	right: 3.3%;
	top: 20%;
	position: absolute;
}

#container_generator
{
	width: 100%;
	height: 100vh;
	background: $background_color_green $background_home no-repeat;
	@include background-size(cover);
	position: relative;
}

/* Generator */
#generator
{

	// margin: 0 0 0 -110px;
	width:100%;


	#generateButton
	{
		display: block;
		top: 40%;
		left: 50%;
		width: 31%;
		margin-top: -15%;
		margin-left: -15%;
		position: absolute;


		@include animation( 1s linear infinite);
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
	}

@include keyframe(rotate(360deg * 3));

}

#container_recept
{
	width: 100%;
	// background-color: $white;
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;

	/* Recept */
	#recept
	{
		width:55%;
		overflow: hidden;
		background-color: $lightblue;
		height: auto;
		color: $black;

		.icon-favorite
		{
			background-image: url(/img/icons/Favoriet.png);
			background-color: inherit;
			background-size: 50px 50px;
			height: 50px;
			width: 50px;
			border: none;
			font-size: 0;
			float: right;
			margin: 1.2%;
			margin-right: 2.7%;
		}

		h1{
			margin-left: 10px;
			color: $white;
			margin-top: 4%;
			margin-bottom: 4%;
			text-align: left;
		}

		#image_recipe
		{
			display: block;
		}

		#ingredients
		{
			float: left;
			width: 25%;
			padding: 1.2%;
			margin-left: 1.2%;
			list-style: none;
			background-color: $white;

		}
		#steps
		{
			float: left;
			width: 65%;
			padding: 1.2%;
			margin-left: 1.2%;
			margin-right: 1.2%;
			background-color: $white;
		}
		#nutritional_values
		{
			float: right;
			width: 65%;
			padding: 1.2%;
			margin: 1.2% 2.7% 1.2% 0;
			background-color: $white;
		}
		h3
		{
			margin-top: 0;
		}

		#social_media
		{

			margin: 1.2%;
			float: right;

			.icon
			{
				height: 4%;
				width: 4%;
				margin-right: 1%;
			}

			#facebook
			{
				height: 25px;
				width: 2%;
			}
		}
	}
}

#comments
{
	width: 100%;
	background-color: $white;
	display: flex;
	flex-direction: column;
	background-color: $yellow;

	#form_new_recipe
	{
		margin: 0 auto;

		textarea
		{
			border: none;
			background-color: $lightgrey;
			width: 580px;
			max-width: 580px;
			height: 140px;
			font-size: 150%;
			padding-left: 1%;
			padding-right: 1%;
		}
		input[type="text"]
		{
			margin-bottom: 3%
		}
	}
}

.comments
{
		background-color: $yellow;

		.wrapper
		{
			width: 35%;
			margin: 0 auto;
			background-color: $white;
			color: $black;
			padding-left: 1%;
			padding-right: 1%;
			padding-bottom: 1%;
		}

		h1
		{
				width: fit-content;
				width: -webkit-fit-content;
		}

		li
		{
			margin-bottom: 1.2%;
		}

		.name
		{
				font-size: 120%;
				text-transform: capitalize;
				color: $lightblue;
		}

		hr
		{
				border-style: solid;
				margin-top: 2.2%;
				color:$lightblue;
		}
}

.user
{
	background-color: $white;
	color: $black;
}

/* profile page */
header{
	padding:1.2%;
	padding-bottom: 18px;
	padding-top: 18px;

	#logo
	{
		margin: 0 auto;
		display: block;
	}
	.wrapper
	{
		width: 31%;
		margin: 0 auto;

		select
		{
	   -webkit-appearance: none;
	   -moz-appearance: none;
	   appearance: none;
		 padding:5px;
		 width: 150px;
		 border: none;
		 cursor: pointer;
		}

		.diets
		{
			float: left;
			margin-right: 1.2%;
		}

		.allergies
		{
			float: left;
		}

		h1
		{
			margin-bottom: 0.5%;
		}

		input[type="submit"]
		{
			background-color: $yellow;
			color: $white;
			border: none;
			padding: 5px;
			margin-left: 10px;
		}
		input[type="submit"]:hover
		{
			background-color: $white;
			color: $yellow;
		}
		input[type="option"]
		{
			padding: 5px;
		}
	}
}

#favorieten
{
	background-color: $white;
	color: $black;
	text-align: center;
	width: 100%;
}

#geschiedenis
{
	background-color: $yellow;
	text-align: center;
}

.slide-favorieten
{
	margin: 60px auto;
	width: 50%;
}
.slick-slide
{
	margin: 0 27px;
	width:900px !important;
}

.slick-prev:before, .slick-next:before {
	color:$black !important;
}

/* Recept fav/geschiedenis */

#container_recept_fav
{
	width: 900px;
	margin: 0 auto;
	background-color: $lightblue;
	margin-bottom: 125px;
	margin-top: 125px;


	h1
	{
		margin-left: 1.2%;
	}

	#ingredients
	{
		margin-left: 1.2%;
	}

	#steps
	{
			margin-left: 1.2%;
			margin-right: 1.2%;
	}

	#nutritional_values
	{
		margin-left: 1.2%;
		margin-right: 1.2%;
		margin-bottom: 1.2%;
	}

	input[type="submit"]
	{
		padding: 5px;
		background-color: red;
		border: none;
		color: $white;
		margin-left: 1.2%;
	}
		input[type="submit"]:hover
		{
			background-color: $white;
			color: red;
		}
	a{
		color: $white;
		margin-bottom: 10px;
		clear: both;
		margin-left: 1.2%;
		margin-bottom: 1.2%;
	}
	a:hover
	{
		color: $yellow;
	}
}

.container_index
{
	width: fit-content;
	width: -webkit-fit-content;
	margin: 0 auto;

	table, table a
	{
    color: $black;
	}

	table
	{
		border-collapse: collapse;
		margin-top: 1.2%;
		margin-bottom: 1.2%;
	}

	th
	{
		background-color: $dark_green;
		color: $white;
	}

	td, th
	{
		padding: 10px;
		border: 1px solid $darkgrey;
	}

	tr:nth-child(even) {
    background-color: $white;
	}

	tr:nth-child(odd) {
    background-color: $lightgrey;
	}
}

/* Footer */
footer
{
	width: 100%;
	background-color: $yellow;
	color: $white;

	p
	{
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	a{
		color: $white;
	}
	a:hover{
		color: $lightblue;
	}
}

@media (max-width: 415px)
{

	#profile
	{
		right: 1.2%;
		height: 75px;
		width: 60px;
	}

	.home
	{
		right: 1%;
	}

	#logo
	{
		width: 30%;
	}

	#generator
	{
		#generateButton
		{
			width: 200px;
    	height: 200px;
			margin-top: -100px;
			margin-left: -100px;
		}
	}

	#container_recept
	{
		padding: 0;

		#recept
		{
			width: 100%;

			#image_recipe
			{
				height: 150px;
			}

			#ingredients
			{
				float: none;
				margin: 0;
				width: 100%;
				margin-top: 8.2%;
			}

			#steps
			{
					margin: 0;
			}

			#nutritional_values
			{
				float: none;
				margin: 0;
				width: 100%;
			}

			#social_media
			{
				.icon
				{
					width: 9%;
				}
			}
		}
	}

	#comments
	{
		#form_new_recipe
		{
			margin: 0%;

			textarea
			{
				width: 100%;
			}
			h1
			{
				margin-left: 1.2%;
			}
		}
	}

	.comments
	{
		width: 100%;

		.wrapper{
			width: 100%;
			padding: 1.2%;
			overflow: hidden;
		}
	}

	ul
	{
		width: 100%;
	}

	hr
	{
		width: 100%;
	}

	.slide-favorieten
	{
		width: 80%;
	}

	header
	{
		margin: 1.8%;
		.wrapper
		{
			width: 75%;
		}
	}

}

.button
{
	background-color: $yellow;
	color: $white;
	border: none;
	width: 160px;
	padding: 1%;
	font-size: 16px;
}

.button:hover
{
	background-color: $white;
	color: $yellow;
}

.back
{
	width: 40px;
}

.back:hover
{
	background-color: $yellow;
}

.blue
{
	background-color: $lightblue;
	color: $white;
	border: none;
	float: right;
	width: 100px;
	height: 35px;
	margin-bottom: 1.2%;
}
.blue:hover
{
		background-color:$white;
		color: $lightblue;
}

.left
{
	float: none;
}
