/* Import config, mixins */
@import "config.scss";
@import "mixins.scss";

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Einde CSS Reset */
body, main{
	width: 100%;
	height: 100%;
}
/* Generator */
#generator
{
	display: block;
	margin: 0 auto;
	width:500px;
	margin-bottom: 200px;

	input
	{
		height: 100px;
		width: 500px;
		font-size: 75px;
		border: none;
		text-align: center;
	}

	button{
		height: 100px;
		width: 200px;
		left:45%;
	}
}

/* Recept */
#recept
{
	width:50%;
	border: 1px solid black;
	overflow: hidden;
	margin: 0 auto;

	#image_recipe
	{
		display: block;
	}
	#ingredients
	{
		float: left;
		width: 23%;
		padding-left:10px;
		list-style: none;
	}
	#steps
	{
		float: left;
		width: 73%;
		padding-right: 10px;
	}
	#nutritional_values
	{
		display: block;
	}
}

/* Footer */
footer
{
	width: 100%;

	p{
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
}

/* Formulier recepten */
#form_new_recipe
{
	margin: 0 auto;
	display: block;
	position: relative;

	input{
		margin-top:20px;
		position: absolute;
	}
}
