/* Import config, mixins, font */
@import "config.scss";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Exo+2');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Einde CSS Reset */
body, main{
	width: 100%;
	height: 100%;
	font-family: 'Exo 2', sans-serif;
	background-color: $background_color_green;
}
main
{
	display: flex;
	flex-direction: column;
}

#logo
{
	height: 10%;
	width: 10%;
	display: block;
	margin:0 auto;
}

.tagline{
	text-align: center;
	margin-bottom: 10px;
}

#container_generator
{
	width: 100%;
	height: 65vh;
	background-color: $background_color_green;
	position: relative;
}

/* Generator */
#generator
{
	display: block;
	margin: 0 0 0 -110px;
	width:500px;
	top: 50%;
	left: 50%;
	position: absolute;

	input[type="submit"]
	{
		height: 100px;
		width: 200px;
		font-size:30px;
		background-color: $yellow;
		color: $white;
		border: none;
		margin: 0 auto;
	}
	input[type="submit"]:hover
	{
		color: $yellow;
		background-color: $white;
	}
}

#container_recept
{
	width: 100%;
	background-color: $white;
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;

	/* Recept */
	#recept
	{
		width:55%;
		overflow: hidden;
		background-color: $lightblue;
		height: auto;

		h1{
			margin-left: 10px;
			color: $white;
		}

		#image_recipe
		{
			display: block;
		}

		#ingredients
		{
			float: left;
			width: 25%;
			padding: 1.2%;
			margin-left: 1.2%;
			list-style: none;
			background-color: $white;
		}
		#steps
		{
			float: left;
			width: 65%;
			padding: 1.2%;
			margin-left: 1.2%;
			margin-right: 1.2%;
			background-color: $white;
		}
		#nutritional_values
		{
			float: right;
			width: 65%;
			padding: 1.2%;
			margin: 1.2% 2.7% 1.2% 0;
			background-color: $white;
		}
		h3
		{
			margin-top: 0;
		}
	}
}

/* Footer */
footer
{
	width: 100%;
	background-color: $yellow;
	color: $white;
	bottom:0%;

	p
	{
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	a{
		color: $white;
	}
}

/* Formulier recepten */

#container
{

	#form_new_recipe
	{
		margin: 0 auto;
		max-width:min-content;

		label{
			display: block;
		}

		input, textarea{
		margin-top:20px;
		margin-bottom:20px;
		display: block;
		}

		input[type="text"], textarea{
			margin-top:20px;
			margin-bottom:20px;
			display: block;
			width: 300px;
		}
	}
}
